# Node.js
/node_modules

# Logs
*.log

# Frontend Build Output
/frontend/dist
/frontend/package-lock.json
/frontend/node_modules


# Backend Build Output
/backend/node_modules
/backend/dist
/backend/package-lock.json


# .env files
.env
